node-red-contrib-agilite/test/data-mapping.json
[
    {
        "id": "697dff85.bb7ee",
        "type": "comment",
        "z": "fd67429b.e294",
        "name": "Data Mapping test case flow",
        "info": "",
        "x": 160,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d0204b32.323b18",
        "type": "data-mapping",
        "z": "fd67429b.e294",
        "server": "45c15c14.758434",
        "profileKey": "{{key}}",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "failFlow": true,
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "58b29633.bbe158"
            ]
        ]
    },
    {
        "id": "64af83e1.f6e12c",
        "type": "inject",
        "z": "fd67429b.e294",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "e529c84b.491028"
            ]
        ]
    },
    {
        "id": "a4113728.2c2bb8",
        "type": "comment",
        "z": "fd67429b.e294",
        "name": "Execute",
        "info": "",
        "x": 160,
        "y": 1400,
        "wires": []
    },
    {
        "id": "e529c84b.491028",
        "type": "function",
        "z": "fd67429b.e294",
        "name": "Prep Data Object",
        "func": "var key = null;\n\n// Set Key\nflow.set(\"datamappings.key\", \"node-red-testing\");\nkey = flow.get(\"datamappings.key\");\n\n// Test if key is null\nif(key !== null){\n    node.warn(\"key is not equal to null\");\n}else{\n    node.error(\"key is equal to null\");\n}\n\nmsg.key = key;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "d0204b32.323b18"
            ]
        ]
    },
    {
        "id": "58b29633.bbe158",
        "type": "type-detect",
        "z": "fd67429b.e294",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "7d28ef81.eab55"
            ]
        ]
    },
    {
        "id": "7d28ef81.eab55",
        "type": "function",
        "z": "fd67429b.e294",
        "name": "Test Result Type",
        "func": "if(msg.payload === \"Object\"){\n    node.warn(\"Response is a Object\");\n}else{\n    node.error(\"Response is not a Object\");\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "45c15c14.758434",
        "type": "agilite-login",
        "z": "",
        "serverType": "2",
        "server": "http://localhost:6010",
        "name": "Agilit-e Local"
    }
]